.card {
  width: 254px;
  height: 110px;
  position: relative;
}

.cardSvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.colorTab {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.cardContent {
  position: relative;
  padding: 14px 11px;
  padding-top: 24px;
  z-index: 3;
}

.label {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  letter-spacing: 0.3px;
  color: black;
}

.value {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.3px;
  color: black;
  margin-top: 8px;
}
